<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyds.crm.mapper.ActivityMapper">
    <resultMap id="activity" type="com.yyds.crm.pojo.Activity">
        <id column="id" property="id"/>
        <result column="owner" property="owner"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="cost" property="cost"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
    </resultMap>

    <insert id="insertActivity" parameterType="com.yyds.crm.pojo.Activity">
        insert into tbl_activity (id, owner, name, start_date,
                                  end_date, cost, description,
                                  create_time, create_by)
        values (#{id}, #{owner}, #{name}, #{startDate},
                #{endDate}, #{cost}, #{description},
                #{createTime}, #{createBy})
    </insert>
</mapper>
