<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyds.crm.mapper.UserMapper">

    <select id="selectAllUser" resultType="com.yyds.crm.pojo.User">
        SELECT * FROM tbl_user WHERE lock_state  = '1'
    </select>

    <select id="selectUser" resultType="com.yyds.crm.pojo.User">
        SELECT * FROM tbl_user WHERE login_act=#{loginAct} and login_pwd=#{loginPwd}
    </select>

</mapper>
