<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyds.crm.mapper.UserMapper">
    <resultMap id="userMap" type="com.yyds.crm.pojo.User">
        <id column="id" property="id"/>
        <result column="login_act" property="loginAct"/>
        <result column="name" property="name"/>
        <result column="login_pwd" property="loginPwd"/>
        <result column="email" property="email"/>
        <result column="expire_time" property="expireTime"/>
        <result column="lock_state" property="lockState"/>
        <result column="dept_no" property="deptNo"/>
        <result column="allow_ips" property="allowIps"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="edit_time" property="editTime"/>
        <result column="edit_by" property="editBy"/>
    </resultMap>

    <select id="selectAllUser" resultMap="userMap">
        SELECT * FROM tbl_user WHERE lock_state  = '1'
    </select>

    <select id="selectUser" resultMap="userMap">
        SELECT * FROM tbl_user WHERE login_act=#{loginAct} and login_pwd=#{loginPwd}
    </select>

</mapper>
